.main_content{
	padding: 30px 150px;
}
.user_photo_block{
	float: left;
	padding-top: 20px;
}
.user_photo_block img{
	width: 170px;
}
.new_photo_form{
	margin: 30px 0;
}
.new_photo_form *{
	display: block;
	margin-top: 10px;
}
.user_data_block{
	margin-left: auto;
}
.user_photo_block .icon{
	width: 25px;
	margin-left: 10px;
	float: left;
}
.role{
	margin-top: 5px;
	border-radius: 4px;
	border: 2px solid #e6e6e6;
	font-size: 18px;
	/*text-align: center;*/
	height: 33px;
}
.field{
	margin-top: 20px;
	text-align:right; 
	line-height: 35px;
}
.pswd_inputs{
	margin-right: 28px;
}
#photo_new{
	border:1px solid #e6e6e6;
}
.buttons{
	border-radius: 5px;
	padding: 6px;
	border:1px solid #FFE544;
	background-color: #FFE544;
	color: #000;
}
.commit{
	background-color: #3289DF;
	border:1px solid #3289DF;
	color: #fff;
}
.remove{
	margin: 5px 0 0 30px;
	background-color: #000;
	color: #fff;
}
#error_message_avatar{
	width: 300px;
}
.error_message{
	color: red;
}