body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: #222;
	font-size: 14px;
	background-color: #f5f5f5;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}
div{
	box-sizing: border-box;
}
/*begining of header*/
header{
	background-color: #fff;
	border-bottom: 3px solid #e6e6e6;
	height: 50px;
	padding: 5px;
}
.logo{
	float: left;
	margin-top: 15px;
}
.logo a{
	color: #000;
	text-decoration: none;
	font-size: 16px;
}
.pin{
	float: right;
	padding: 10px;
	height: 18px;
}
.pin .popover{
	visibility: hidden;
	opacity: 0;
    position: absolute;
	transition: all 0.2s ease-in-out 0.5s;
	transition-delay: 0s;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    background-color: #E6E6E6;
}
.pin:hover .popover{
	visibility: visible;
	opacity: 1;
}
.pin .button {
	display: block;
	border: 1px solid white;
	padding: 6px;
    text-decoration: none;
    color: #000;
}
.admin_button{
	margin-bottom: 30px;
}
.admin_button a{
	min-width: 10px;
	border-radius: 4px;
	color: #fff; /* цвет текста */
 	text-decoration: none; /* убирать подчёркивание у ссылок */
  	user-select: none; /* убирать выделение текста */
  	background: #202121; /* фон кнопки */
  	padding: .7em 1.5em; /* отступ от текста */
  	outline: none; /* убирать контур в Mozilla */
} 
.page_list a:hover { background: #494B4B; } /* при наведении курсора мышки */
.page_list a:active { background: #2E3030; } /* при нажатии */
/*begining of side bar*/
.side_bar{
	float: left;
	background-color: white;
	margin-top: 20px;
	width: 250px;
	border: 2px solid #e6e6e6;
	padding-top: 10px;
}
.side_bar .row{
	margin: 10px;
}
.side_bar a:hover{
	margin: 10px 0 0 10px;
}
.side_bar a{
	width: 190px;
	text-decoration: none;
	color: #000;
	display: block;
}
.side_bar .line{
	margin-top: 5px;
	border: 0.5px solid #000;
	width: 190px;
}
/*begining of content*/
.main_content_block{
	margin-top: 20px;
	border: 2px solid #e6e6e6;
	min-height: 800px;
	background-color: #fff;
	float: right;
	width: 900px;
}
.header_of_content{
	background-color: #e6e6e6;
	padding: 10px 20px;
	font-size: 20px;
}
.main_content{
	padding: 30px;
}
.buttons{
	border-radius: 5px;
	border:1px solid #3289DF;
	padding: 6px;
	background-color: #3289DF;
	color: #fff;
}

.message{
	font-size: 18px;
	border-radius: 4px;
	padding: 10px;
	background: rgba(3, 252, 36, 0.3);
}
.error_message{
	color: red;
}
footer{
	margin-top: 40px;
	width: 100%;
	float: right;
	background-color: #3a3a3a;
	color: #fff;
	padding: 15px;
}

.news_list{
	margin-top: 20px;
}
.news{
	margin-bottom: 40px;
	/*border: 1px solid #9ceaf0;*/
}
.news .title{
	font-size: 24px;
}
.news .date{
	margin: 10px 0;
}

.pagination a{
	border-radius: 4px;
	color: #A8A8A8; /* цвет текста */
 	text-decoration: none; /* убирать подчёркивание у ссылок */
  	user-select: none; /* убирать выделение текста */
  	padding: 4px; /* отступ от текста */
  	margin-right: 10px;
  	outline: none; /* убирать контур в Mozilla */
}
.pagination #currentPage{
	color: #fff;
	background: #0CC715;
}
.pagination a:hover{
	background: #D4D4D4;
}
.publishing_news .row{
	margin-bottom: 20px;
}
.publishing_news label{
	margin-bottom: 5px;
	display: block;
}