.found_template_block{
	padding: 30px;
}
.found_template_block .row{
	margin-right: 10px;

	padding: 5px;
	color: #000;
	text-decoration: none;
	display: block;
	/*width: 200px;*/
	font-size: 18px;
}
.found_template_block .row:hover{
	margin-bottom: 10px;
}
.subjects_block .underline{
	width: 400px;
}